<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- Materialize Icons -->
    <!-- <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> -->
    <!-- Materialize CSS Framework -->
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"> -->
    
    <link rel="stylesheet" href="/css/style.css">
    <title>TDGA | <%= title %></title>
</head>

<body>
    <header>
        <a href="/"><img id="imgTDGA" src="/images/1 TDGA_white logo no text.png" alt="Terrible Disc Golf Association"></a>
        <nav>
            <a class="navLinks" href="/discs" <%- title === 'All Discs' ? 'class="active"' : '' %>>All Discs</a>
            <a class="navLinks" href="/discs/new" <%- title === 'Add Disc' ? 'class="active"' : '' %>>Add Disc</a>
        </nav>
    </header>
    <main>
        <h1><%= title %></h1>