<%- include('./partials/header') %>

<p>Watch out for that TREE!!!</p>
<div id="inPageLinks">
    <a href="/discs">See All Discs</a>
    <a href="/discs/new">Add a Disc</a>
</div>

<%- include('./partials/footer') %>