* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: Helvetica;
    margin: 0;
    display: grid;
    min-height: 100vh;
}

header,
footer {
    display: flex;
    align-items: center;
    box-shadow: 1px 1px 5px 1px #201f1f;
}

header {
    padding-left: 15px;
    height: 3em;
    background-color: #77113c;  
}

footer {
    justify-content: center;
    height: 3em;
    font-size: .75em;
}

#imgTDGA {
    width: 50px;
    margin-top: 5px;
}

nav {
    margin: auto 15px auto auto;
}

nav > a {
    text-decoration: none;
    color: #fff;
    padding: 10px;
}

main {
    flex-grow: 1;
    margin: auto;
    /* may need to change below later */
    text-align: center;
}

h1 {
    margin: auto;
}

/* --- Disc Cards on 'All Discs' Page --------------------------------- */

#discCards {
    display: flex;
}

#discCards > a {
    padding: 20px;
    margin: 15px;
    text-decoration: none;
    border: 3px solid #77113c;
    border-radius: 10px;
    box-shadow: 1px 1px 5px 1px #201f1f;
}

/* ==================================================================== */
/* --- Media Queries -------------------------------------------------- */

@media only screen and (min-width: 425px) {

    body {
        display: flex;
        flex-direction: column;
    }

}