<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terrible Disc Golf Association | Add a Disc</title>
</head>
<body>
    <h1>Add a Disc!</h1>
    <form action="/discs" method="POST">
    <label>Title:
        <input type="text" name="title">
    </label>
    <label>Brand:
        <input type="text" name="brand">
    </label>
    <label>Primary Use:
        <input type="text" name="discType">
    </label>
    <label>Speed:
        <input type="text" name="speed">
    </label>
    <label>Glide:
        <input type="text" name="glide">
    </label>
    <label>Turn:
        <input type="text" name="turn">
    </label>
    <label>Fade:
        <input type="text" name="fade">
    </label>
    <input type="submit" value="Add Disc">
    </form>
</body>
</html>