<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Terrible Disc Golf Association | Add a Disc</title>
</head>

<body>
    <h1>Add a Disc!</h1>
    <form action="/discs" method="POST">
        <label>Title:</label>
        <input type="text" name="title">

        <label>Brand:</label>
        <input type="text" name="brand">

        <label>Primary Use:</label>
        <select name="discType">
            <option value="Distance Driver">Distance Driver</option>
            <option value="Fairway Driver">Fairway Driver</option>
            <option value="Mid-Range">Mid-Range</option>
            <option value="Putt & Approach">Putt & Approach</option>
        </select>

        <label>Speed:</label>
        <input type="text" name="speed">

        <label>Glide:</label>
        <input type="text" name="glide">

        <label>Turn:</label>
        <input type="text" name="turn">

        <label>Fade:</label>
        <input type="text" name="fade">

        <input type="submit" value="Add Disc">
    </form>
</body>

</html>